@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin background($imgpath,$repeat,$width,$height){
    background: {
        image: url($imgpath);
        repeat: $repeat;    
    }
    width: $width;
    height: $height; 

}


@mixin ctaBtn($imgpath,$repeat,$width,$height){
    background: {
        image: url($imgpath);
        repeat: $repeat;    
    }
    width: $width;
    height: $height; 
    margin: 20px;

}

@mixin span{
    text-align: center;
    font-size: 16px;
    color: $secondaryYellow;
    font-weight: 600;
}
