
/*======================= HEADER =======================*/
@media only screen and (max-width: 320px) {
    #container{
        width: 320px !important;
        padding: 20px !important;
        display: flex;
        flex-direction: column !important;
    }


    header{
    .row{
        display: flex;
        

    .logo{
        width: 150px !important;
    }

    .desktopNav{
        display: none !important;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        transition: 0.5s;
        
        li{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    .headerBtn{
        flex-direction: column;
        padding-top: 20px;
        display: none;
    }

    .mobileNav{
        cursor: pointer;
        display: flex;
    }
    }

}
/*======================= HEADER =======================*/

/*======================= BANNER =======================*/

.banner{
    width: 320px !important;
    height: auto !important;
    display: flex;
    flex-direction: column;

    .bannerContent{
        display: flex;
        flex-direction: column;

        .donate{
            width: 60%;
            margin: auto;
        }

        p{
            padding: 0 20px;
            font-size: 18px;
        }

    }

    .bannerBtn{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;

        .thirdctaBtn{
            margin: 10px;
        }

        .primaryctaBtn{
            margin: 10px;
        }
    }

    .reports{
        display: flex;
        flex-direction: column;

        .help{
            display: flex;
            flex-direction: column;
        }
    }
}


/*======================= BANNER =======================*/




}