/*======================= HEADER =======================*/
@media only screen and (max-width: 320px) {
  #container {
    width: 320px !important;
    padding: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .row .logo {
    width: 150px !important;
  }
  header .row .desktopNav {
    display: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .row .desktopNav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header .row .headerBtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    display: none;
  }
  header .row .mobileNav {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*======================= HEADER =======================*/
  /*======================= BANNER =======================*/
  .banner {
    width: 320px !important;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .bannerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .bannerContent .donate {
    width: 60%;
    margin: auto;
  }
  .banner .bannerContent p {
    padding: 0 20px;
    font-size: 18px;
  }
  .banner .bannerBtn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .banner .bannerBtn .thirdctaBtn {
    margin: 10px;
  }
  .banner .bannerBtn .primaryctaBtn {
    margin: 10px;
  }
  .banner .reports {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .banner .reports .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../images/banner-square-responsive.svg");
    height: 450px;
    width: 280px;
  }
  .banner .reports .help h1, .banner .reports .help p {
    text-align: center;
  }
  .banner .reports .help .secondaryctaBtn {
    margin: 30px auto;
  }
  .banner .reports .percentage {
    background-image: url("../images/percentageBg-responsive.png");
    height: 800px;
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 75px;
    margin-top: 30px;
  }
  .banner .reports .percentage .circleGraph {
    margin: 25px auto;
  }
  /*======================= BANNER =======================*/
  /*======================= UPCOMING EVENTS =======================*/
  .upcomingEventsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px !important;
  }
  .upcomingEventsContainer .upcomingEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcomingEventsContainer .upcomingEvents h1 {
    font-size: 50px !important;
    padding-bottom: 50px !important;
  }
  .upcomingEventsContainer .upcomingEvents .navArrows {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .upcomingEventsContainer .futureEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcomingEventsContainer .futureEvents h1, .upcomingEventsContainer .futureEvents p {
    text-align: center;
  }
  .upcomingEventsContainer .tanggalBinggotFoundation {
    width: 280px !important;
  }
  .upcomingEventsContainer .tanggalBinggotFoundation img {
    width: 100%;
  }
  .upcomingEventsContainer .foundationStats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .upcomingEventsContainer .foundationStats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .upcomingEventsContainer .foundationStats ul li {
    padding: 20px;
  }
  .upcomingEventsContainer .foundationStats img {
    width: 100%;
  }
  .upcomingEventsContainer .foundationStats .infoButton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcomingEventsContainer .foundationStats .infoButton table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcomingEventsContainer .foundationStats .infoButton table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .upcomingEventsContainer .foundationStats .infoButton table tr td {
    padding: 10px;
  }
  .upcomingEventsContainer .foundationStats .infoButton .primaryctaBtn {
    margin: 0 auto !important;
    margin-top: 30px !important;
  }
  /*======================= UPCOMING EVENTS =======================*/
  /*======================= UPCOMING EVENTS =======================*/
  .benefitOfHelping h1 {
    font-size: 50px !important;
  }
  .benefitOfHelping .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .benefitOfHelping .benefitList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*======================= UPCOMING EVENTS =======================*/
}
/*# sourceMappingURL=responsive.css.map */