/*======================= HEADER =======================*/
@media only screen and (max-width: 320px) {
  #container {
    width: 320px !important;
    padding: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .row .logo {
    width: 150px !important;
  }
  header .row .desktopNav {
    display: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .row .desktopNav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header .row .headerBtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    display: none;
  }
  header .row .mobileNav {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*======================= HEADER =======================*/
  /*======================= BANNER =======================*/
  .banner {
    width: 320px !important;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .bannerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .bannerContent .donate {
    width: 60%;
    margin: auto;
  }
  .banner .bannerContent p {
    padding: 0 20px;
    font-size: 18px;
  }
  .banner .bannerBtn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .banner .bannerBtn .thirdctaBtn {
    margin: 10px;
  }
  .banner .bannerBtn .primaryctaBtn {
    margin: 10px;
  }
  .banner .reports {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .reports .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*======================= BANNER =======================*/
}
/*# sourceMappingURL=responsive.css.map */