html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=====Buttons=====*/
/*=====Buttons=====*/
/*=====Colors=====*/
/*=====Buttons=====*/
/*======================= IMPORT =======================*/
body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-size: 100% 100%;
}

#parentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container {
  width: 1590px;
  padding: 0 30px;
}

/*======================= GENERAL =======================*/
/*======================= HEADER =======================*/
header {
  display: block;
  margin: 50px 0;
}

header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 90px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  display: inline;
  font-size: 20px;
  padding: 10px;
}

.headerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 57px;
  font-size: 20px;
  font-weight: 600;
}

.primaryctaBtn {
  background-image: url("../images/button-yellow-fill-01.svg");
  background-repeat: no-repeat;
  width: 164px;
  height: 58px;
  margin: 20px;
}

.secondaryctaBtn {
  background-image: url("../images/button-black-border.svg");
  background-repeat: no-repeat;
  width: 157px;
  height: 58px;
  margin: 20px;
}

/*======================= HEADER =======================*/
/*======================= ARTICLE =======================*/
.banner {
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  width: 1920px;
  height: 100%;
  margin-left: -13%;
}

.banner .donate {
  width: 40%;
}

.banner p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

.banner .bannerContent {
  text-align: center;
}

.banner .bannerContent img {
  padding-top: 70px;
}

.banner .bannerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  line-height: 57px;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .thirdctaBtn {
  background-image: url("../images/button-yellow-border-01.svg");
  background-repeat: no-repeat;
  width: 155px;
  height: 58px;
  margin: 20px;
  color: #ffc23e;
}

/*======================= REPORTS =======================*/
.reports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.reports .help {
  background-image: url("../images/banner-square.svg");
  background-repeat: no-repeat;
  width: 490px;
  height: 300px;
  margin-right: 30px;
  padding: 40px;
  font-size: 20px;
}

.reports .help h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: initial;
}

.reports .help p {
  font-size: 20px;
  text-align: initial;
  color: #8d6a1e;
  margin-top: 10px;
}

.reports .help .secondaryctaBtn {
  font-weight: 600;
  line-height: 55px;
  margin: 20px 0;
  text-align: center;
}

.reports .percentage {
  background-image: url("../images/percentageBg.png");
  background-repeat: no-repeat;
  width: 1010px;
  height: 300px;
  padding: 50px 40px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports .percentage img {
  text-align: inherit !important;
}

.reports .percentage .circleGraph {
  background-image: url("../images/circle-graph.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  padding-top: 20px;
}

.reports .percentage h1 {
  font-size: 50px;
  text-align: center;
  line-height: 35px;
  font-family: 'Berkshire Swash', cursive;
}

.reports .percentage span {
  text-align: center;
  font-size: 16px;
  color: #8d6a1e;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.reports .percentage .overallStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports .percentage ul {
  padding: 20px;
}

.reports .percentage li {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  display: inline-block;
}

.reports .percentage .percentageBtn {
  background-image: url("../images/button-black-fill.svg");
  background-repeat: no-repeat;
  width: 141px;
  height: 50px;
  margin: 20px;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 600;
}

.reports .percentage table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports .percentage table tr > td {
  text-align: center;
  padding: 8px 10px;
}

.reports .percentage table tr > td h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Berkshire Swash', cursive;
}

.reports .percentage table tr > td p {
  text-align: center;
  font-size: 20px;
  color: #8d6a1e;
  font-weight: 600;
  margin: 0;
}

/*======================= REPORTS =======================*/
/*======================= UPCOMING EVENTS =======================*/
.upcomingEventsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.upcomingEventsContainer h1 {
  font-size: 70px;
  font-family: 'Berkshire Swash', cursive;
}

.upcomingEventsContainer .navArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*======================= UPCOMING EVENTS =======================*/
/*======================= ARTICLE =======================*/
/*# sourceMappingURL=style.css.map */