html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=====Buttons=====*/
/*=====Buttons=====*/
/*=====Colors=====*/
/*=====Buttons=====*/
/*======================= IMPORT =======================*/
body,
html {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-size: 100% 100%;
}

#container {
  width: 1590px;
  padding: 0 30px;
  margin: auto;
}

/*======================= GENERAL =======================*/
/*======================= HEADER =======================*/
header {
  padding: 50px !important;
}

header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 90px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  display: inline;
  font-size: 20px;
  padding: 10px;
}

.headerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
}

.primaryctaBtn {
  background-image: url("../images/button-yellow-fill-01.svg");
  background-repeat: no-repeat;
  width: 164px;
  height: 58px;
  margin: 20px;
  cursor: pointer;
}

.secondaryctaBtn {
  background-image: url("../images/button-black-border.svg");
  background-repeat: no-repeat;
  width: 157px;
  height: 58px;
  margin: 20px;
  cursor: pointer;
}

/*======================= HEADER =======================*/
/*======================= ARTICLE =======================*/
.banner {
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  width: 1920px;
  height: 100%;
}

.banner .donate {
  width: 40%;
}

.banner p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}

.banner .bannerContent {
  text-align: center;
}

.banner .bannerContent img {
  padding-top: 70px;
}

.banner .bannerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .thirdctaBtn {
  background-image: url("../images/button-yellow-border-01.svg");
  background-repeat: no-repeat;
  width: 155px;
  height: 58px;
  margin: 20px;
  cursor: pointer;
  color: #ffc23e;
}

/*======================= REPORTS =======================*/
.reports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.reports .help {
  background-image: url("../images/banner-square.svg");
  background-repeat: no-repeat;
  width: 490px;
  height: 300px;
  margin-right: 30px;
  padding: 40px;
  font-size: 20px;
}

.reports .help h1 {
  font-size: 30px;
  font-weight: 800;
  text-align: initial;
}

.reports .help p {
  font-size: 20px;
  text-align: initial;
  color: #8d6a1e;
  margin-top: 10px;
}

.reports .help .secondaryctaBtn {
  font-weight: 600;
  line-height: 55px;
  margin: 20px 0;
  text-align: center;
}

.reports .percentageBtn {
  background-image: url("../images/button-black-fill.svg");
  background-repeat: no-repeat;
  width: 141px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 25px;
}

.reports .percentage {
  background-image: url("../images/percentageBg.png");
  background-repeat: no-repeat;
  width: 1010px;
  height: 300px;
  padding: 50px 40px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports .percentage .circleGraph {
  background-image: url("../images/circle-graph.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  padding-top: 20px;
}

.reports .percentage h1 {
  font-size: 50px;
  text-align: center;
  line-height: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}

.reports .percentage span {
  text-align: center;
  font-size: 16px;
  color: #8d6a1e;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.reports .percentage .overallStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports .percentage ul {
  padding: 20px;
}

.reports .percentage li {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  display: inline-block;
}

.reports .percentage table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports .percentage table tr > td {
  text-align: center;
  padding: 8px 10px;
}

.reports .percentage table tr > td h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

.reports .percentage table tr > td p {
  text-align: center;
  font-size: 20px;
  color: #8d6a1e;
  font-weight: 600;
  margin: 0;
}

/*======================= REPORTS =======================*/
/*======================= UPCOMING EVENTS =======================*/
.upcomingEventsContainer {
  padding-top: 200px;
}

.upcomingEventsContainer .upcomingEvents {
  padding-bottom: 70px;
}

.upcomingEventsContainer .upcomingEvents h1 {
  font-size: 70px;
  font-family: "Berkshire Swash", cursive;
  padding-bottom: 100px;
  text-align: center;
}

.upcomingEventsContainer .upcomingEvents .navArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 25px;
}

.upcomingEventsContainer .upcomingEvents .navArrows p {
  font-size: 20px;
}

.upcomingEventsContainer .upcomingEvents .navArrows .material-icons:first-child {
  padding: 0 20px 0 0;
}

.upcomingEventsContainer .upcomingEvents .navArrows .material-icons:first-child:hover {
  color: #ffc23f;
  cursor: pointer;
}

.upcomingEventsContainer .upcomingEvents .navArrows .material-icons {
  padding: 0 20px 0 20px;
}

.upcomingEventsContainer .upcomingEvents .navArrows .material-icons:hover {
  color: #ffc23f;
  cursor: pointer;
}

.futureEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.futureEvents .tanggalBinggotFoundation h1 {
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 20px;
}

.futureEvents .tanggalBinggotFoundation p {
  font-size: 18px;
  line-height: 28px;
  color: #959595;
}

.futureEvents .foundationStats ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 25px;
  font-weight: 800;
}

.futureEvents .foundationStats li:nth-child(2) {
  display: inline;
  padding: 0 0 0 20px;
}

.futureEvents .foundationStats li {
  display: inline;
  padding: 0 20px 0 20px;
}

.futureEvents .foundationStats span {
  color: #959595;
}

.futureEvents .foundationStats .imageHolder {
  padding-top: 50px;
}

.futureEvents .foundationStats .infoButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.futureEvents .foundationStats .infoButton .primaryctaBtn {
  margin: 0 0 0 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}

.futureEvents .foundationStats table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.futureEvents .foundationStats table tr > td {
  padding: 0 30px;
}

.futureEvents .foundationStats table tr > td h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  line-height: 40px;
}

.futureEvents .foundationStats table tr > td p {
  font-size: 20px;
  color: #959595;
}

/*======================= UPCOMING EVENTS =======================*/
/*======================= BENEFIT OF HELPING =======================*/
.benefitOfHelping {
  padding-top: 300px;
  background-image: url("../images/benefitsMainBg.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 2000px;
  background-position: 0 200px;
}

.benefitOfHelping h1 {
  font-size: 70px;
  font-family: "Berkshire Swash", cursive;
  text-align: center;
}

.benefitOfHelping .benefits {
  background-position: center;
  background-image: url("../images/girlsReading.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 898px;
}

.benefitOfHelping .benefitList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 100px;
}

.benefitOfHelping .benefitList li {
  display: inline;
  text-align: center;
}

.benefitOfHelping .benefitList li:nth-child(1) {
  margin-top: -200px;
}

.benefitOfHelping .benefitList li:nth-child(3) {
  margin-top: -100px;
}

.benefitOfHelping .benefitList h2 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 25px;
}

.benefitOfHelping .benefitList p {
  font-size: 18px;
  line-height: 28px;
  color: #959595;
  padding-top: 10px;
}

.benefitOfHelping .benefitList img {
  width: 100%;
  height: 113px;
  padding-bottom: 20px;
}

/*======================= BENEFIT OF HELPING =======================*/
/*======================= EVENTS AND NEWS =======================*/
.eventsAndNews {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/littleGirl.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 100% 100%;
}

.eventsAndNews h1 {
  font-size: 70px;
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  padding-bottom: 20px;
}

.eventsAndNews h2 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 25px;
}

.eventsAndNews p {
  font-size: 18px;
  line-height: 28px;
  color: #959595;
}

.eventsAndNews .primaryctaBtn {
  background-image: url("../images/button-yellow-fill-01.svg");
  background-repeat: no-repeat;
  width: 164px;
  height: 58px;
  margin: 20px;
  cursor: pointer;
  margin: 30px 0;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  font-size: 20px;
}

.eventsAndNews .articleContent {
  padding-top: 100px;
}

.eventsAndNews .articleLeft {
  width: 40%;
}

.eventsAndNews .navArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 25px;
  padding-top: 30px;
}

.eventsAndNews .navArrows p {
  font-size: 20px;
}

.eventsAndNews .navArrows .material-icons:first-child {
  padding: 0 20px 0 0;
}

.eventsAndNews .navArrows .material-icons:first-child:hover {
  color: #ffc23f;
  cursor: pointer;
}

.eventsAndNews .navArrows .material-icons {
  padding: 0 20px 0 20px;
}

.eventsAndNews .navArrows .material-icons:hover {
  color: #ffc23f;
  cursor: pointer;
}

/*======================= EVENTS AND NEWS =======================*/
/*======================= YOUR SUPPORT IS POWERFUL =======================*/
.supportIsPowerful {
  padding-top: 200px;
}

.supportIsPowerful h1 {
  font-size: 70px;
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  padding-bottom: 40px;
}

.supportIsPowerful p {
  font-size: 18px;
  line-height: 28px;
  color: #959595;
  text-align: center;
}

.supportIsPowerful .primaryctaBtn {
  background-image: url("../images/donateNow.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 82px;
  margin: 20px;
  cursor: pointer;
  cursor: pointer;
  text-align: center;
  line-height: 90px;
  font-weight: 700;
  font-size: 30px;
  background-position: center;
  margin: 50px 0;
}

.supportIsPowerful .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*======================= YOUR SUPPORT IS POWERFUL =======================*/
/*======================= ARTICLE =======================*/
/*# sourceMappingURL=style.css.map */