@import "./mixins";
@import "./reset.scss";
@import "./variables.scss";

/*======================= IMPORT =======================*/

body,
html {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-size: 100% 100%;
}

#parentContainer {
  @include flexCenter;
}

#container {
  width: 1590px;
  padding: 0 30px;
}

/*======================= GENERAL =======================*/

/*======================= HEADER =======================*/

header {
  display: block;
  margin: 50px 0;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: 90px;
  }
}

nav {
  display: flex;
  align-items: center;

  li {
    display: inline;
    font-size: 20px;
    padding: 10px;
  }
}

.headerBtn {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
}

.primaryctaBtn {
  @include ctaBtn(
    "../images/button-yellow-fill-01.svg",
    no-repeat,
    164px,
    58px
  );
}

.secondaryctaBtn {
  @include ctaBtn("../images/button-black-border.svg", no-repeat, 157px, 58px);
}

/*======================= HEADER =======================*/

/*======================= ARTICLE =======================*/

.banner {
  @include background("../images/banner-bg.png", no-repeat, 1920px, 100%);
  margin-left: -13%;

  .donate {
    width: 40%;
  }

  p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
  }

  .bannerContent {
    text-align: center;

    img {
      padding-top: 70px;
    }
  }

  .bannerBtn {
    display: flex;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
  }

  .thirdctaBtn {
    @include ctaBtn(
      "../images/button-yellow-border-01.svg",
      no-repeat,
      155px,
      58px
    );
    color: $primaryYellow;
  }
}

/*======================= REPORTS =======================*/

.reports {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .help {
    @include background("../images/banner-square.svg", no-repeat, 490px, 300px);
    margin-right: 30px;
    padding: 40px;
    font-size: 20px;
    h1 {
      font-size: 30px;
      font-weight: 800;
      text-align: initial;
    }
    p {
      font-size: 20px;
      text-align: initial;
      color: $secondaryYellow;
      margin-top: 10px;
    }
    .secondaryctaBtn {
      font-weight: 600;
      line-height: 55px;
      margin: 20px 0;
      text-align: center;
    }
  }

  .percentage {
    @include background("../images/percentageBg.png", no-repeat, 1010px, 300px);
    padding: 50px 40px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .circleGraph {
      @include background(
        "../images/circle-graph.svg",
        no-repeat,
        200px,
        200px
      );
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      padding-top: 20px;
    }

    h1 {
      font-size: 50px;
      text-align: center;
      line-height: 25px;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 800;
    }

    span {
      @include span(16px);
      font-family: "Josefin Sans", sans-serif;
    }

    .overallStats {
      display: flex;
      align-items: center;
    }

    ul {
      padding: 20px;
    }

    li {
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      display: inline-block;
    }

    .percentageBtn {
      @include ctaBtn(
        "../images/button-black-fill.svg",
        no-repeat,
        141px,
        50px
      );
      color: #fff;
      padding: 15px;
      text-align: center;
      font-weight: 600;
      line-height: 25px;
    }

    table {
      display: flex;
      align-items: center;
    }

    table tr > td {
      text-align: center;
      padding: 8px 10px;

      h2 {
        font-size: 30px;
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
      }

      p {
        @include span(20px);
        margin: 0;
      }
    }
  }
}

/*======================= REPORTS =======================*/

/*======================= UPCOMING EVENTS =======================*/

.upcomingEventsContainer {
  padding-top: 200px;

  .upcomingEvents {

    padding-bottom: 70px;
    h1 {
      font-size: 70px;
      font-family: "Berkshire Swash", cursive;
      padding-bottom: 100px;
      text-align: center;
    }

    .navArrows {
      display: flex;
      line-height: 25px;

      p {
        font-size: 20px;
      }

      .material-icons:first-child {
        padding: 0 20px 0 0;
        &:hover {
          color: #ffc23f;
          cursor: pointer;
        }
      }
      .material-icons {
        padding: 0 20px 0 20px;
        &:hover {
          color: #ffc23f;
          cursor: pointer;
        }
      }
    }
  }
}

.futureEvents {
    display: flex;

    .tanggalBinggotFoundation{

        h1{
            font-size: 25px;
            font-weight: 800;
            padding-bottom: 20px;
        }

        p{
            font-size: 18px;
            line-height: 28px;
            color: $bodyColor;
        }
    }

    .foundationStats{
        
        ul{
            display: flex;
            justify-content: flex-end;
            font-size: 25px;
            font-weight: 800;
        }

        li:nth-child(2){
            display: inline;
            padding: 0 0 0 20px;
        }

        li{
            display: inline;
            padding: 0 20px 0 20px;
        }

        span{
            color: $bodyColor;
        }

        .imageHolder{
            padding-top: 50px;
        }

        .infoButton{
            display: flex;
            justify-content: center;
            padding-top: 40px;

            .primaryctaBtn{
                margin: 0 0 0 30px;
                text-align: center;
                font-weight: 600;
                font-size: 20px;
                line-height: 60px;
            }
        }

        table {
            display: flex;
            justify-content: center;
          }
      
          table tr > td {
            padding: 0 30px;
      
            h2 {
              font-size: 30px;
              font-weight: 700;
              font-family: "Josefin Sans", sans-serif;
              line-height: 40px;
            }
      
            p {
            font-size: 20px;
            color: $bodyColor;
            }
          }


    }

}


/*======================= UPCOMING EVENTS =======================*/

/*======================= ARTICLE =======================*/
