

/*=====Buttons=====*/

$primaryYellow: #ffc23e;
$primaryBlack: #000000;
$secondaryYellow: #8d6a1e;


/*=====Buttons=====*/


/*=====Colors=====*/

$headerColor: #000000;
$bodyColor: #959595;


/*=====Buttons=====*/

